In [1]:
import pandas as pd

df=pd.read_csv('car data.csv')

In [2]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [3]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [4]:
dataset=df.copy()

In [5]:
dataset

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [6]:
dataset['age']=[2020]-dataset['Year']

In [8]:
dataset.drop(['Year'],axis=1,inplace=True)

In [9]:
dataset

,Car_Name,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,age
0,ritz,3.35,5.59,27000,Petrol,Dealer,Manual,0,6
1,sx4,4.75,9.54,43000,Diesel,Dealer,Manual,0,7
2,ciaz,7.25,9.85,6900,Petrol,Dealer,Manual,0,3
3,wagon r,2.85,4.15,5200,Petrol,Dealer,Manual,0,9
4,swift,4.60,6.87,42450,Diesel,Dealer,Manual,0,6
...,...,...,...,...,...,...,...,...,...
296,city,9.50,11.60,33988,Diesel,Dealer,Manual,0,4
297,brio,4.00,5.90,60000,Petrol,Dealer,Manual,0,5
298,city,3.35,11.00,87934,Petrol,Dealer,Manual,0,11
299,city,11.50,12.50,9000,Diesel,Dealer,Manual,0,3
300,brio,5.30,5.90,5464,Petrol,Dealer,Manual,0,4

In [10]:
dataset.drop(['Car_Name'],axis=1,inplace=True)

In [11]:
dataset

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,age
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,6
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,7
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,3
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,9
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,6
...,...,...,...,...,...,...,...,...
296,9.50,11.60,33988,Diesel,Dealer,Manual,0,4
297,4.00,5.90,60000,Petrol,Dealer,Manual,0,5
298,3.35,11.00,87934,Petrol,Dealer,Manual,0,11
299,11.50,12.50,9000,Diesel,Dealer,Manual,0,3
300,5.30,5.90,5464,Petrol,Dealer,Manual,0,4

In [12]:
print(df['Seller_Type'].unique())
print(df['Fuel_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Dealer' 'Individual']
['Petrol' 'Diesel' 'CNG']
['Manual' 'Automatic']
[0 1 3]

In [13]:
dataset['Kms_Driven']=dataset['Kms_Driven']/1000

In [14]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [15]:
dataset

,Selling_Price,Present_Price,Kms_Driven,Owner,age,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27.000,0,6,0,1,0,1
1,4.75,9.54,43.000,0,7,1,0,0,1
2,7.25,9.85,6.900,0,3,0,1,0,1
3,2.85,4.15,5.200,0,9,0,1,0,1
4,4.60,6.87,42.450,0,6,1,0,0,1
...,...,...,...,...,...,...,...,...,...
296,9.50,11.60,33.988,0,4,1,0,0,1
297,4.00,5.90,60.000,0,5,0,1,0,1
298,3.35,11.00,87.934,0,11,0,1,0,1
299,11.50,12.50,9.000,0,3,1,0,0,1
300,5.30,5.90,5.464,0,4,0,1,0,1

In [16]:
dataset['Owner_fresh']=(dataset['Owner']==0)

In [18]:
owner_encoding={
    True: 1,
    False: 0
}

owner_encd_dict={
    'Owner_fresh':owner_encoding
}

dataset.replace(owner_encd_dict,inplace=True)

dataset

,Selling_Price,Present_Price,Kms_Driven,Owner,age,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual,Owner_fresh
0,3.35,5.59,27.000,0,6,0,1,0,1,1
1,4.75,9.54,43.000,0,7,1,0,0,1,1
2,7.25,9.85,6.900,0,3,0,1,0,1,1
3,2.85,4.15,5.200,0,9,0,1,0,1,1
4,4.60,6.87,42.450,0,6,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
296,9.50,11.60,33.988,0,4,1,0,0,1,1
297,4.00,5.90,60.000,0,5,0,1,0,1,1
298,3.35,11.00,87.934,0,11,0,1,0,1,1
299,11.50,12.50,9.000,0,3,1,0,0,1,1
300,5.30,5.90,5.464,0,4,0,1,0,1,1

In [21]:
print(dataset['Owner_fresh'].unique())

[1 0]

In [22]:
dataset

,Selling_Price,Present_Price,Kms_Driven,age,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual,Owner_fresh
0,3.35,5.59,27.000,6,0,1,0,1,1
1,4.75,9.54,43.000,7,1,0,0,1,1
2,7.25,9.85,6.900,3,0,1,0,1,1
3,2.85,4.15,5.200,9,0,1,0,1,1
4,4.60,6.87,42.450,6,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...
296,9.50,11.60,33.988,4,1,0,0,1,1
297,4.00,5.90,60.000,5,0,1,0,1,1
298,3.35,11.00,87.934,11,0,1,0,1,1
299,11.50,12.50,9.000,3,1,0,0,1,1
300,5.30,5.90,5.464,4,0,1,0,1,1

In [23]:
X=dataset.iloc[:,1:]
y=dataset.iloc[:,0]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [24]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)
predictions=regressor.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,predictions)

0.8517738659253543

In [25]:
from sklearn.svm import SVR
regressor=SVR(kernel='rbf')
regressor.fit(X_train,y_train)
predictions=regressor.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,predictions)

0.5089584716394923

In [26]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(random_state=0)
regressor.fit(X_train,y_train)
predictions=regressor.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,predictions)

0.9171070187555511

In [28]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=100,random_state=0)
regressor.fit(X_train,y_train)
predictions=regressor.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,predictions)

0.9135512310086797

In [29]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(random_state=0)
regressor.fit(X_train,y_train)
predictions=regressor.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,predictions)

0.9171070187555511

In [30]:
import pickle
# open a file, where you ant to store the data
file = open('decision_tree_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(regressor, file)